.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #262626;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 80px;
  width: 400px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.addbutton {
    background-color:  #404040;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}
.seebutton {
  display: inline-block;
  border-radius: 4px;
  background-color: #262626;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 40px;
  width: 400px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}